" ========= Important MAPPING Notes =========
" Source: " http://stackoverflow.com/questions/3776117/what-is-the-difference-between-the-remap-noremap-nnoremap-and-vnoremap-mapping
" n: normal only
" v: visual and select
" o: operator-pending
" x: visual only
" s: select only
" i: insert
" c: command-line
" l: insert, command-line, regexp-search (and others. Collectively called "Lang-Arg" pseudo-mode)
" ======= End Important MAPPING notes ========

" open all help windows vertically
cnoremap help vert help

" turn off loud annoying bells triggered on error
set visualbell
set noerrorbells

" turn blink cursor off (macvim)
set guicursor+=a:blinkon0

" delete blank lines
" :g/^$/d

" ========= VIM WILDIGNORE =========
set wildignore+=*/tmp/*,*.so,*.swp,*.zip,*.pyc

" access system clipboard 
set clipboard=unnamed
nnoremap yy "*yy

" split open to the right
set splitright

" remappings
inoremap jk <ESC>

" enter should add a new line
nnoremap <cr> o<esc>$

" ========= Map Leader Comma BEGIN =========
let mapleader = ","
nnoremap <leader>s ~
" edit ideavim from anywhere
nnoremap <leader>ev :vsplit ~/.ideavimrc<cr>
" refresh vimrc source. This way you don't have to restart for changes to 
" take effect
nnoremap <leader>es :source ~/.vimrc<cr>
" tab close
nnoremap <leader>tc :close<cr>
" tab only
nnoremap <leader>to :only<cr>
" ========= Map Leader Comma END =========

" move current line, 1 line down.
nnoremap <c-j> :m+1<cr>
" move current line, 1 line up.
nnoremap <c-k> :m-2<cr>

" ========= Refactoring BEGIN =========
" local variable refactor
nnoremap gr gd[{V%::s/<C-R>///g<left><left>
" global variable refactor
nnoremap gR gD:%s/<C-R>///g<left><left>
" ========= Refactoring END =========

" reformat code in intellij ide's using ideavim
nnoremap \r :action ReformatCode<cr>

" ========= Python/Pymode Commands =========
" run pymode in vertical split
autocmd BufEnter __run__,__doc__ :wincmd L
nnoremap <leader>qwe :PymodeRun<cr>
" the w after exec is needed for some mysterious reason
" save current file and run it in python 3
nnoremap <buffer> <leader>wer :w<cr> :exec 'w !python3' shellescape(@%, 1)<cr>
" comment a line
nnoremap <leader>cc I# <esc>$
" uncomment a line
nnoremap <leader>C :s/# //g<esc>$
" quickly cycle through buffers
nnoremap <leader>df :bn<cr>
" ========= END Pymode Commands =========

" ========= Git Fugitive Plugin Commands =========
" ONLY WORKS IF YOU HAVE THE FUGITIVE VIM PLUGIN
nnoremap <leader>gw :Gwrite<cr>

" ========= Airline Plugin Commands =========
" ONLY WORKS IF YOU HAVE THE AIRLINE PLUGIN
" statusline appear at all times
set laststatus=2
" let g:airline_theme='bubblegum'
" let g:airline_theme='simple'
" let g:airline_theme='luna'
let g:airline_theme='dark'
let g:airline#extensions#tabline#enabled = 1
let g:airline_powerline_fonts = 1
" ========= End Airline =========

" ========= Repeat Plugin Commands =========
silent! call repeat#set("\<Plug>MyWonderfulMap", v:count)

" ========= CtrlP Plugin Commands ===========
" ONLY WORKS IF YOU HAVE THE CTRLP PLUGIN
nnoremap <leader><leader>coursera :CtrlP ~/Dropbox/github/python-programs/coursera<cr>
" files to ignore
let g:ctrlp_custom_ignore = '\v[\/]\.(git|hg|svn|pyc|swp|)$'

" ========= Tagbar Plugin Commands ===========
" ONLY WORKS IF YOU HAVE THE TAGBAR PLUGIN
nnoremap <leader>tt :TagbarToggle<cr>
